<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item mb-020 br-12">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed pe-020 pe-sm-040 pb-020 pt-020 ps-040 title-small fw-extra-bold br-12"
                type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                aria-controls="flush-collapseOne">
                Are you striking with your heel, mid foot or fore foot?
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body text-large ps-040 pe-040 pe-sm-104 pt-0">Posture is simply the alignment of your head,
                neck, thorax, and hips with respect to each other. Good posture reduces
                fatigue and helps to make you a more economical runner.</div>
        </div>
    </div>
    <div class="accordion-item mb-020 br-12">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed pe-020 pe-sm-040 pb-020 pt-020 ps-040 title-small fw-extra-bold br-12"
                type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false"
                aria-controls="flush-collapseThree">
                The angle of your leg at ground contact
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body text-large ps-040 pe-040 pe-sm-104 pt-0">Posture is simply the alignment of your head,
                neck,
                thorax, and hips with respect to each other. Good posture reduces
                fatigue and helps to make you a more economical runner.</div>
        </div>
    </div>
    <div class="accordion-item mb-020 br-12">
        <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed pe-020 pe-sm-040 pb-020 pt-020 ps-040 title-small fw-extra-bold br-12"
                type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false"
                aria-controls="flush-collapseFour">
                Your cadence (stride rate)
            </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body text-large ps-040 pe-040 pe-sm-104 pt-0">Posture is simply the alignment of your head,
                neck,
                thorax, and hips with respect to each other. Good posture reduces
                fatigue and helps to make you a more economical runner.</div>
        </div>
    </div>
    <div class="accordion-item mb-020 br-12">
        <h2 class="accordion-header" id="flush-headingFive">
            <button class="accordion-button collapsed pe-020 pe-sm-040 pb-020 pt-020 ps-040 title-small fw-extra-bold br-12"
                type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false"
                aria-controls="flush-collapseFive">
                Your posture
            </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body text-large ps-040 pe-040 pe-sm-104 pt-0">Posture is simply the alignment of your head,
                neck,
                thorax, and hips with respect to each other. Good posture reduces
                fatigue and helps to make you a more economical runner.</div>
        </div>
    </div>
    <div class="accordion-item mb-020 br-12">
        <h2 class="accordion-header" id="flush-headingSix">
            <button class="accordion-button collapsed pe-020 pe-sm-040 pb-020 pt-020 ps-040 title-small fw-extra-bold br-12"
                type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false"
                aria-controls="flush-collapseSix">
                The lean of your body
            </button>
        </h2>
        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body text-large ps-040 pe-040 pe-sm-104 pt-0">Posture is simply the alignment of your head,
                neck,
                thorax, and hips with respect to each other. Good posture reduces
                fatigue and helps to make you a more economical runner.</div>
        </div>
    </div>
    <div class="accordion-item mb-020 br-12">
        <h2 class="accordion-header" id="flush-headingSeven">
            <button class="accordion-button collapsed pe-020 pe-sm-040 pb-020 pt-020 ps-040 title-small fw-extra-bold br-12"
                type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false"
                aria-controls="flush-collapseSeven">
                Your arm position
            </button>
        </h2>
        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body text-large ps-040 pe-040 pe-sm-104 pt-0">Posture is simply the alignment of your head,
                neck,
                thorax, and hips with respect to each other. Good posture reduces
                fatigue and helps to make you a more economical runner.</div>
        </div>
    </div>
</div>