<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item br-green mb-020 br-12">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button pe-020 pe-sm-040 pb-020 pt-020 ps-040 title-small fw-extra-bold br-12"
                type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                aria-controls="flush-collapseOne">
                What happens when I sign up?
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body text-large ps-040 pe-040 pe-sm-104 pt-0"><p class="text-large mb-012">The report will include video stills of your running form with annotations and analysis,
                quantifiablescores and target values for key elements of your running form, exercises with video instructions and a
                trainingplan.</p>
            <p class="text-large mb-012">Depending on your running form you will fall into one of three Levels, so you can focus on
                themostimportant improvements for you:</p>
            <p class="text-large mb-012">After using MOVAIA for the first time over 90% of runners place in Level 1. In Le you will
                build a strongfoundation to run with good, basic form. Your report will include these running form metrics:
                Step rate,Foot Angle (left & right), Lean and Posture.</p>
            <p class="text-large mb-012">In Level 2, you will learn how to sweep your foot effectively and land with your fe the
                proper position relative to your body. In addition to level 1 metrics, your report will include these running form
                metrics: Strike Angle (left & right), The Golden ratio including sweep and maximum shank extension (left & right),
                Arm Angle and Forward / Backward Arm Position (left & right).</p>
            <p class="text-large mb-012">Level 3 will combine your form development with exercises and drills that will make you a
                stronger, faster runner, with a lower risk of injury. Your report will include all level 1 and 2 metrics and we will
                focus on further enhancing the scores for these.</p>
            <p class="text-large mb-012">Curious? <span class="text-green text-decoration-underline">Here is a level 1 sample
                    report!</span></p></div>
        </div>
    </div>
    <div class="accordion-item br-green mb-020 br-12">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed pe-020 pe-sm-040 pb-020 pt-020 ps-040 title-small fw-extra-bold br-12"
                type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                aria-controls="flush-collapseTwo">
                What’s the deal with the free plan?
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body text-large ps-040 pe-040 pe-sm-104 pt-0"><p class="text-large mb-012">The report will include video stills of your running form with annotations and analysis,
                quantifiablescores and target values for key elements of your running form, exercises with video instructions and a
                trainingplan.</p>
            <p class="text-large mb-012">Depending on your running form you will fall into one of three Levels, so you can focus on
                themostimportant improvements for you:</p>
            <p class="text-large mb-012">After using MOVAIA for the first time over 90% of runners place in Level 1. In Le you will
                build a strongfoundation to run with good, basic form. Your report will include these running form metrics:
                Step rate,Foot Angle (left & right), Lean and Posture.</p>
            <p class="text-large mb-012">In Level 2, you will learn how to sweep your foot effectively and land with your fe the
                proper position relative to your body. In addition to level 1 metrics, your report will include these running form
                metrics: Strike Angle (left & right), The Golden ratio including sweep and maximum shank extension (left & right),
                Arm Angle and Forward / Backward Arm Position (left & right).</p>
            <p class="text-large mb-012">Level 3 will combine your form development with exercises and drills that will make you a
                stronger, faster runner, with a lower risk of injury. Your report will include all level 1 and 2 metrics and we will
                focus on further enhancing the scores for these.</p>
            <p class="text-large mb-012">Curious? <span class="text-green text-decoration-underline">Here is a level 1 sample
                    report!</span></p></div>
        </div>
    </div>
    <div class="accordion-item br-green mb-020 br-12">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed pe-020 pe-sm-040 pb-020 pt-020 ps-040 title-small fw-extra-bold br-12"
                type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false"
                aria-controls="flush-collapseThree">
                What’s inside my running form report?
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body text-large ps-040 pe-040 pe-sm-104 pt-0"><p class="text-large mb-012">The report will include video stills of your running form with annotations and analysis,
                quantifiablescores and target values for key elements of your running form, exercises with video instructions and a
                trainingplan.</p>
            <p class="text-large mb-012">Depending on your running form you will fall into one of three Levels, so you can focus on
                themostimportant improvements for you:</p>
            <p class="text-large mb-012">After using MOVAIA for the first time over 90% of runners place in Level 1. In Le you will
                build a strongfoundation to run with good, basic form. Your report will include these running form metrics:
                Step rate,Foot Angle (left & right), Lean and Posture.</p>
            <p class="text-large mb-012">In Level 2, you will learn how to sweep your foot effectively and land with your fe the
                proper position relative to your body. In addition to level 1 metrics, your report will include these running form
                metrics: Strike Angle (left & right), The Golden ratio including sweep and maximum shank extension (left & right),
                Arm Angle and Forward / Backward Arm Position (left & right).</p>
            <p class="text-large mb-012">Level 3 will combine your form development with exercises and drills that will make you a
                stronger, faster runner, with a lower risk of injury. Your report will include all level 1 and 2 metrics and we will
                focus on further enhancing the scores for these.</p>
            <p class="text-large mb-012">Curious? <span class="text-green text-decoration-underline">Here is a level 1 sample
                    report!</span></p></div>
        </div>
    </div>
</div>