<div class="slider">
    <div class="slider-container">
        <div class="swiper-container">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="slider__item br-green br-12 px-4 py-4">
                        <div class="title-small fw-bold mb-010">Alex</div>
                        <div class="mb-012">
                            <img class="slider__img w-100" src="img/slide-one-img.png" alt="">
                        </div>
                        
                        <p class="text-large mb-0">Quite an eye opener to see the photos with the
                            angles added. I like the steps to improve. Easy and clear to understand</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider__item br-green br-12 px-4 py-4">
                        <div class="title-small fw-bold mb-010">Vincent</div>
                        <div class="mb-012">
                            <img class="slider__img w-100" src="img/slide-two-img.png" alt="">
                        </div>
                        <p class="text-large mb-0">I did two running form analyses before and the results were very similar – but I paid a lot more…</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider__item br-green br-12 px-4 py-4">
                        <div class="title-small fw-bold mb-010">Christiana</div>
                        <div class="mb-012">
                            <img class="slider__img w-100" src="img/slide-three-img.png" alt="">
                        </div>
                        <p class="text-large mb-0">Great to get faster than ever at the age of 49 - after more than 15 years of training! Running ist fun again, without
                        the pain. I love that it feels like floating. I'm also keen on the possibility to check my running form whenever I want
                        to - never stop improving!</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider__item br-green br-12 px-4 py-4">
                        <div class="title-small fw-bold mb-010">Alex</div>
                        <div class="mb-012">
                            <img class="slider__img w-100" src="img/slide-one-img.png" alt="">
                        </div>
                
                        <p class="text-large mb-0">Quite an eye opener to see the photos with the
                            angles added. I like the steps to improve. Easy and clear to understand</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider__item br-green br-12 px-4 py-4">
                        <div class="title-small fw-bold mb-010">Vincent</div>
                        <div class="mb-012">
                            <img class="slider__img w-100" src="img/slide-two-img.png" alt="">
                        </div>
                        <p class="text-large mb-0">I did two running form analyses before and the results were very similar – but I paid a lot more…</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider__item br-green br-12 px-4 py-4">
                        <div class="title-small fw-bold mb-010">Christiana</div>
                        <div class="mb-012">
                            <img class="slider__img w-100" src="img/slide-three-img.png" alt="">
                        </div>
                        <p class="text-large mb-0">Great to get faster than ever at the age of 49 - after more than 15 years of training! Running ist fun again, without
                        the pain. I love that it feels like floating. I'm also keen on the possibility to check my running form whenever I want
                        to - never stop improving!</p>
                    </div>
                </div>
            </div>

            <div class="swiper-button-prev"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16 1.3335C24.1 1.3335 30.6667 7.90016 30.6667 16.0002C30.6667 24.1002 24.1 30.6668 16 30.6668C7.89999 30.6668 1.33332 24.1002 1.33332 16.0002C1.33332 7.90016 7.89999 1.3335 16 1.3335ZM18.9427 11.6095C19.1855 11.358 19.3199 11.0212 19.3169 10.6716C19.3139 10.322 19.1736 9.98761 18.9264 9.7404C18.6792 9.49319 18.3448 9.35297 17.9952 9.34993C17.6456 9.34689 17.3088 9.48129 17.0573 9.72416L11.724 15.0575C11.474 15.3075 11.3336 15.6466 11.3336 16.0002C11.3336 16.3537 11.474 16.6928 11.724 16.9428L17.0573 22.2762C17.3088 22.519 17.6456 22.6534 17.9952 22.6504C18.3448 22.6474 18.6792 22.5071 18.9264 22.2599C19.1736 22.0127 19.3139 21.6783 19.3169 21.3287C19.3199 20.9791 19.1855 20.6423 18.9427 20.3908L14.552 16.0002L18.9427 11.6095Z"
                    fill="#1F1B1C" /></svg></div>

            <div class="swiper-button-next"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_525_4004)">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M16 1.3335C7.90004 1.3335 1.33337 7.90016 1.33337 16.0002C1.33337 24.1002 7.90004 30.6668 16 30.6668C24.1 30.6668 30.6667 24.1002 30.6667 16.0002C30.6667 7.90016 24.1 1.3335 16 1.3335ZM13.0574 11.6095C12.8145 11.358 12.6801 11.0212 12.6831 10.6716C12.6862 10.322 12.8264 9.98761 13.0736 9.7404C13.3208 9.49319 13.6552 9.35297 14.0048 9.34993C14.3544 9.34689 14.6912 9.48129 14.9427 9.72416L20.276 15.0575C20.526 15.3075 20.6664 15.6466 20.6664 16.0002C20.6664 16.3537 20.526 16.6928 20.276 16.9428L14.9427 22.2762C14.6912 22.519 14.3544 22.6534 14.0048 22.6504C13.6552 22.6474 13.3208 22.5071 13.0736 22.2599C12.8264 22.0127 12.6862 21.6783 12.6831 21.3287C12.6801 20.9791 12.8145 20.6423 13.0574 20.3908L17.448 16.0002L13.0574 11.6095Z"
                        fill="#1F1B1C" />
                </g>
                <defs>
                    <clipPath id="clip0_525_4004">
                        <rect width="32" height="32" fill="white" />
                    </clipPath>
                </defs></svg></div>
        </div>
    </div>
</div>