.form {
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: start;

        &__btn {
            position: absolute;
            bottom: 0%;
            right: 0%;
        }
    }
    &__label {
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        margin-bottom: 8px;
    }
    &__input {
        padding: 7px 24px;
        border: 1px solid $green;
        border-radius: 12px;
        background: $white;
        outline-color: $green;


        &::placeholder {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
        }
    }
}